[credential]
  #helper = cache --timeout 7200 # two hours
  helper = osxkeychain
	helper = oauth
[credential "https://git-codecommit.*.amazonaws.com"]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
