[credential "https://git-codecommit.*.amazonaws.com"]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[credential]
  helper = cache --timeout 7200 # two hours
  helper = osxkeychain
  helper = oauth
[user]
	name = Raul Zaldana
	email = rzaldana@ci.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
